/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.background{
  background: url(web.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.nav-item{
  list-style: none;
}
.contain{
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-left: 450px;
  margin-right: 450px;
  background-color: #f5f5f58c;
  box-shadow: 3px 3px 20px black;
  padding: 10px;
}
.edit{
  width: 500px;
  box-shadow: 3px 3px 20px black;
}
.field{
  height: 70px;
  width: 80;
  padding: 10px;
}
.book{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f5f5f58c;
  box-shadow: 2px 2px 20px black;
}
table{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 5px;
}
.name{
  color: gold!important;
  margin-right: 50px!important;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
/*.navbar-fix{
  z-index: 11111;
  position: fixed !important;
  top: 0;
  width: 100%;
}*/
.avail{
  color: green;
}
.notavail{
  color: darkred;
}
a{
  color: #8d8338 !important;
  text-decoration: none;
}